echo "*.c" >> .gitignore
echo "*.cpp" >> .gitignore
echo "*.h" >> .gitignore
echo "*.hpp" >> .gitignore
echo "*.py" >> .gitignore
echo "*.java" >> .gitignore
echo "*.cs" >> .gitignore
echo "*.js" >> .gitignore
echo "*.ts" >> .gitignore
echo "src/" >> .gitignore
echo "src*/" >> .gitignore
echo "source/" >> .gitignore
echo "Projetos/" >> .gitignore
echo ".gitignore" >> .gitignore  # protege o próprio gitignore